/* Contenedor principal */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--bg-footer);
  color: var(--text-footer);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.25em;
}


/* Zona superior: logo + 3 columnas de enlaces */
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

/* Columna logo */
.footer-col--logo .footer-logo {
  width: 180px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

/* Iconos sociales dentro de la columna logo */
.footer-social {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer-social a {
  color: var(--text-footer);
  font-size: 1.3rem;
  transition: color 0.2s ease;
}
.footer-social a:hover {
  color: var(--link-hover);
}

/* Dirección */
.footer-address {
  font-style: normal; /* para que no salte el italics por defecto */
  font-size: 0.85rem;
  line-height: 1.4;
}

.footer-col-info{
  display: flex;
  flex-direction: row;
}

/* Oculta el texto en móviles pero conserva el height total */
@media (max-width: 768px) {
  .nav-label {
    display: none;
  }
}


/* Los otros tres bloques de enlaces */
.footer-col h4.footer-heading {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 0.5rem;
}

.footer-col ul li a {
  color: var(--link-footer);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.2s ease;
}
.footer-col ul li a:hover {
  color: var(--link-hover);
}

/* Separador */
.footer-divider {
  border-top: 1px solid var(--border-footer);
  margin: 0 3rem;
}

/* Pie de página */
.footer-bottom {
  margin-top: 20px;
  text-align: center;
  padding: 1rem 3rem;
  font-size: 0.8rem;
}

/* En modo movil le añadimos margen para poder verlo */
@media (max-width: 1025px) {
  .footer-bottom {
    margin-bottom: 48px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer-divider {
    margin: 0 1.5rem;
  }
  .footer-bottom {
    padding-top: 1rem;
  }
}

@media (max-width: 580px) {
  .footer-top{
    flex-direction: column;
  }
  .footer-col {
    margin: 0 2px;
  }
}
