:root {
  --primary-background-color:#29292D; 
  --hover-background-color: #313034;

  --primary-text-color: #ffffff; 
  
  --secondary-background-color: #2F2E35; 
  --hover-secondary-background-color:#37373C; 
  
  --tertiary-background-color: #333339; 
  --hover-tertiary-background-color: #43424B;
  
  --card-background-color:#37373E;
  --card-footer-background-color: #3D3C42;
  
  --box-shadow-color: rgba(0, 0, 0, 0.6);
  
  --accent-color: #5964F2; 
  --hover-accent-color: #4655C1;
  --anchor-color: #7EBCF2;
  --border-color: #424348;
}