:root {
  --primary-background-color:#29292D;
  --secondary-background-color: #2F2E35;  
  --hover-background-color: #313034;

  --primary-text-color: #ffffff; 
  
  
  --hover-secondary-background-color:#37373C; 
  
  --tertiary-background-color: #333339; 
  --hover-tertiary-background-color: #43424B;
  
  --card-background-color:#37373E;
  --card-footer-background-color: #3D3C42;
  
  --box-shadow-color: rgba(0, 0, 0, 0.6);
  
  --accent-color: #5964F2; 
  --hover-accent-color: #4655C1;
  --anchor-color: #7EBCF2;
  --border-color: #424348;
}

/* Modo Claro */
[data-theme='light'] {
  --primary-background-color: #f9f9f9;
  --secondary-background-color: #ffffff;
  --hover-background-color: #eaeaea;

  --primary-text-color: #333333;
  
  --hover-secondary-background-color: #e0e0e0;

  --tertiary-background-color: #f3f3f3;
  --hover-tertiary-background-color: #dddddd;

  --card-background-color: #ffffff;
  --card-footer-background-color: #f0f0f0;

  --box-shadow-color: rgba(0, 0, 0, 0.1);

  --accent-color: #3b82f6; /* Azul claro */
  --hover-accent-color: #2563eb;
  --anchor-color: #1d4ed8;
  --border-color: #e5e7eb;
}
